.title{
text-align: center;
color:#D62246;
width: 100%;

}
.amiens{
    display: flex;
    align-items: center;
}

.logoAmiens{ 
    width: 150px;
    margin-right: 20px;
}

.logoManu {
    margin-right: 20px;
}

.lamanu{
    align-items: center;
    display: flex;
    padding-bottom: 50px;
}
.lamanu img{
    width: 150px;
}
.lamanu p{
    align-items: center;
    font-size: 20px;
}
.amiens p{
    align-items: center;
    font-size: 20px;
}
.introduction{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}
/* 2eme partie du main */
.field {
    height: 30px;
}
.booking {
    display: flex;
    flex-direction: column;
}
.booking h2{
    width: 100%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;

}
form .validation {
    display: flex;
    font-size: large;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 20px;
}
form {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productList h2 {
    width: 100%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;

}
.booking p {
    width: 100%;
    text-align: center;

}
.reservation {
    background-color: #d4f4dd;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
}

.reservation>h2 {
    margin-top: 30px;
    font-size: x-large;
    font-family: 'Chakra Petch', sans-serif;
}
.products{
    width: 225px;
    padding: 20px;

}
.scroller{
    background-color: white;
    width: 590px;
    height: 200px;
    overflow-x: scroll;
    scrollbar-width: thin;
    display: flex;
    border-radius: 10px;
}
/* 3eme partie du main */
.contactInfo{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    padding-top:50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.placeAndDate{
    text-align: center;
}
.campus{
    width: 350px;
}
.map{
    width: 350px;
    height: 300px;
}
h1{
    font-family: 'Chakra Petch', sans-serif;
}
p{
font-family: 'Ubuntu Condensed', sans-serif;
}
/* Mise en page général */

body {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #232522;
}

a {
    text-decoration: none;
    color: white;
}


/* Mise en page du header */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    background-color: #0E7C7B;
    color:white;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
    width: 80%;
}

.inscription, .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.navigation a:hover, .inscription a:hover {
    color:#232522;
}

.validation {
    background-color:#D62246;
    border-color: #D62246;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
    color: white;
    cursor: pointer;
}


/* Mise en page du body */

main {
    background-color: white;
}




/* Mise en page du footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #0E7C7B;
    color:white;
}

footer>div>ul {
    font-family: 'Chakra Petch', sans-serif;
    font-size :large;
    text-align: center;
}

.multiLink {
    font-family: 'Ubuntu Condensed', sans-serif;
    list-style-type: none;
    font-size: medium;
    text-align: start;
    margin: 10px;
}

.socialNetwork {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialNetwork>img {
    display: flex;
    margin: 30px;
    height: 35px;
    width: 35px;
}


/* Partie troll */

.troll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: xx-large;
}

.troll>img {
    height: 250px;
}

.troll>p {
    margin-bottom: 50px;
}


/* Formulaire */

input {
    border-color: grey;
    border-style: solid;
    border-radius: 8px;
    margin-top:8px;
}


