/* Mise en page général */

body {
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    background-color: #232522;
}

a {
    text-decoration: none;
    color: white;
}


/* Mise en page du header */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    background-color: #0E7C7B;
    color:white;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
    width: 80%;
}

.inscription, .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

}

.validation {
    background-color:#D62246;
    border-color: #D62246;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
    color: white;
    cursor: pointer;
}


/* Mise en page du body */

main {
    height: 70vh;
}




/* Mise en page du footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #0E7C7B;
    color:white;
}

footer>div>ul {
    font-family: 'Chakra Petch', sans-serif;
    font-size :large;
    text-align: center;
}

.multiLink {
    font-family: 'Ubuntu Condensed', sans-serif;
    list-style-type: none;
    font-size: medium;
    text-align: start;
    margin: 10px;
}

.socialNetwork {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialNetwork>img {
    display: flex;
    margin: 30px;
    height: 35px;
    width: 35px;
}